doctype html
html
	head
		link(rel="stylesheet" href="styles/main.min.css")

	body
		include src/header/header.pug
		include src/header/request.pug
		section
			include src/body/body.pug
			include src/body/services_sum.pug
			include src/body/pricing.pug

