.head
	.head__logo
		img(src="images/maket/logo.png")
	.head__nav
		a(href="#") home
		a(href="#") about
		a(href="#") services
		a(href="#") gallery
		a(href="#") contact

	.head__info
		span sell your
		span car now

		span.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi nulla ducimus possimus. Ipsum dicta numquam rem eligendi amet dolore nulla.
