.request
	.request__title
		span request a quote
	form(action='#' method="POST")
		input(type="text" name="name" placeholder="Full Name")
		input(type="email" name="email" placeholder="Email Adress")
		input(type="text" name="phone" placeholder="Phone Number")
			
		.check
			label(for="check") I accept the terms & conditions
			input(type="checkbox" id="req.Check" name="check") 
		button() send