*		
	margin: 0;
	padding: 0;
	text-decoration: none;		
html
	width: calc(100% - 70px);

	button:hover
		cursor: pointer;
		
	
	
	
@import "src/variable.styl"
@import "src/header/header.styl"
@import "src/header/request.styl"
@import "src/body/body.styl"
@import "src/body/services_sum.styl"
@import "src/body/pricing.styl"
@import "src/body/footer.styl"
@import "src/footer/footer.styl"