.body
	.body__services
		span our
		span services
	.body__servDesc
		div
			img(src="../images/maket/heart_services.png")
			span Making your trip beautiful and easier

		div
			img(src="../images/maket/tools.png")
			span Tools to help you  succeed tommorow 	

		div
			img(src="../images/maket/lightbulb.png")
			span Ideas that will blow you out the blue

		div
			img(src="../images/maket/compass.png")
			span Navigate your path to beautiful world 