.BodyFooter
	.footerLeft
		.footerLeft__title 
			h2 testimonial

		.footerLeft__desc
			.first
				span. 
					I have involved with this company for ages and just want to say this is a great work by decigncoon.
				cite DJ Bravo - Frequent Travalera
				img(src="../images/maket/author.png")
			.second
				span I have involved with this company for ages and just.
				cite DJ Bravo - Frequent Travalera
				img(src="../images/maket/author_2.png")


	.footerRight
		.footerRight__title 
			h2 gallery
		.footerRight__img 
			img(src="../images/1.jpg")
			img(src="../images/2.jpg")
			img(src="../images/3.jpg")
			img(src="../images/4.jpg")
			img(src="../images/5.jpg")
			
			a(href="#") view more pictures