.pricing
	span.pricing__title.
		pricing 
		 
	.pricing__items
		.firstItem
			.pricing__items-title Starter
			.pricing__items-price FREE
			.pricing__items-desc
				span free service
				span multiple accounts 
				span managment no 
				span --
				span --
			button TRY		
		.secondItem
			.pricing__items-title Business
			.pricing__items-price $97
			.pricing__items-desc
				span free service
				span multiple accounts 
				span managment no 
				span unlimited data
				span --
			button SIGN UP	
			.secondItem__status
				span Popular

		.thirdItem
			.pricing__items-title Profesional
			.pricing__items-price $297
			.pricing__items-desc
				span free service
				span multiple accounts 
				span managment no 
				span unlimited data
				span whatever you need
			button SIGN UP		



